In [27]:
import pandas as pd

In [28]:
# Read CSV Files
df_corruption = pd.read_csv("../data/Cleaned_Corruption.csv")
df_island = pd.read_csv("../data/island_info.csv")
df_homicide = pd.read_csv("../data/Homicide_Rate.csv")

In [29]:
# Minor Data Adding
df_corruption = df_corruption.append({"Country": "Tonga", "CPI Score 2018": 31, "Standard error": 'NaN'}, ignore_index=True)
df_corruption

         Country  CPI Score 2018 Standard error
0        Denmark              88           2.63
1    New Zealand              87           2.44
2        Finland              85           2.74
3      Singapore              85           1.98
4         Sweden              85           2.02
..           ...             ...            ...
178        Syria              13           1.92
179      Somalia              10           3.08
180       Belize              29            NaN
181         Fiji              40            NaN
182        Tonga              31            NaN

[183 rows x 3 columns]

In [30]:
# Merge with main islands dataframe
df_merged = df_island.merge(df_corruption, on="Country", how="left")
df_merged = df_merged[["Country", "CPI Score 2018", "Standard error"]]

In [31]:
# Drop duplicates
df_merged = df_merged.sort_values("Country")
df_merged.drop_duplicates(subset ="Country", inplace = True)

In [32]:
# Update United Kingdom Value
df_homicide = df_homicide.replace({"Country": "United Kingdom of Great Britain and Northern Ireland"}, "United Kingdom")

In [33]:
# merge with the main dataframe
df_merge_h = df_island.merge(df_homicide, on="Country", how="left")
df_merge_h = df_merge_h[["Country", "Homicide Rate"]]

In [34]:
# Remove duplicates
df_merge_h = df_merge_h.sort_values("Country")
df_merge_h.drop_duplicates(subset ="Country", inplace = True)

In [35]:
# Merge homicde and corruption dataframes to make final dataframe
df_final = df_merge_h.merge(df_merged, on="Country", how="outer")
df_final = df_final.drop(df_final.index[len(df_final)-1])
df_final

                     Country  Homicide Rate  CPI Score 2018 Standard error
0                    Antigua            NaN             NaN            NaN
1                  Argentina            6.2            40.0            2.7
2                  Australia            1.1            77.0           1.27
3                    Bahamas           29.7            65.0           5.39
4                     Belize           29.4            29.0            NaN
5                     Brazil           31.3            35.0           4.05
6                     Canada            1.5            81.0           2.16
7                      Chile            4.4            67.0           1.88
8                 Costa Rica           10.2            56.0           3.65
9                    Croatia            1.0            48.0           2.77
10                   Curacao            NaN             NaN            NaN
11                   Ecuador            9.3            34.0           3.46
12                   Estonia            3.7            73.0           1.44
13          Falkland Islands            NaN             NaN            NaN
14                      Fiji            2.5            40.0            NaN
15                   Finland            1.3            85.0           2.74
16                    France            0.9            72.0           1.17
17                    Greece            1.1            45.0           2.51
18                   Grenada            6.3            52.0              3
19                  Honduras           55.5            29.0           2.42
20                   Iceland            1.2            76.0           4.33
21                 Indonesia            4.5            38.0           3.35
22                   Ireland            0.8            73.0           3.25
23                     Italy            0.8            52.0           3.29
24                     Japan            0.3            73.0           2.85
25                     Kenya            5.3            27.0           1.82
26                Madagascar            6.9            25.0           2.64
27                  Maldives            3.4            31.0           2.24
28                    Mexico           16.9            28.0           1.83
29               New Zealand            1.1            87.0           2.44
30                 Nicaragua           13.9            25.0           1.13
31                     Palau            NaN             NaN            NaN
32                    Panama           20.5            37.0           1.76
33          Papua New Guinea           10.2            28.0           2.47
34               Philippines           14.8            36.0           1.55
35                    Poland            0.9            60.0           1.69
36                       SVG            NaN             NaN            NaN
37                Seychelles            9.9            66.0           3.08
38           Solomon Islands            4.3            44.0           7.38
39                  Thailand            5.0            36.0           2.08
40                     Tonga            4.6            31.0            NaN
41          Turks and Caicos            NaN             NaN            NaN
42                    Uganda           12.6            26.0           2.13
43      United Arab Emirates            3.8            70.0           4.56
44            United Kingdom            1.3            80.0           2.03
45  United States of America            6.5            71.0           3.25
46                   Vanuatu            2.5            46.0           5.97

In [36]:
df_final.loc[df_final['CPI Score 2018'] > 0, 'CPI Score 2018'] = 100 - df_final.loc[df_final['CPI Score 2018'] > -1, 'CPI Score 2018']

In [40]:
df_final = df_final.fillna(0)
df_final

                     Country  Homicide Rate  CPI Score 2018 Standard error
0                    Antigua            0.0             0.0              0
1                  Argentina            6.2            60.0            2.7
2                  Australia            1.1            23.0           1.27
3                    Bahamas           29.7            35.0           5.39
4                     Belize           29.4            71.0              0
5                     Brazil           31.3            65.0           4.05
6                     Canada            1.5            19.0           2.16
7                      Chile            4.4            33.0           1.88
8                 Costa Rica           10.2            44.0           3.65
9                    Croatia            1.0            52.0           2.77
10                   Curacao            0.0             0.0              0
11                   Ecuador            9.3            66.0           3.46
12                   Estonia            3.7            27.0           1.44
13          Falkland Islands            0.0             0.0              0
14                      Fiji            2.5            60.0              0
15                   Finland            1.3            15.0           2.74
16                    France            0.9            28.0           1.17
17                    Greece            1.1            55.0           2.51
18                   Grenada            6.3            48.0              3
19                  Honduras           55.5            71.0           2.42
20                   Iceland            1.2            24.0           4.33
21                 Indonesia            4.5            62.0           3.35
22                   Ireland            0.8            27.0           3.25
23                     Italy            0.8            48.0           3.29
24                     Japan            0.3            27.0           2.85
25                     Kenya            5.3            73.0           1.82
26                Madagascar            6.9            75.0           2.64
27                  Maldives            3.4            69.0           2.24
28                    Mexico           16.9            72.0           1.83
29               New Zealand            1.1            13.0           2.44
30                 Nicaragua           13.9            75.0           1.13
31                     Palau            0.0             0.0              0
32                    Panama           20.5            63.0           1.76
33          Papua New Guinea           10.2            72.0           2.47
34               Philippines           14.8            64.0           1.55
35                    Poland            0.9            40.0           1.69
36                       SVG            0.0             0.0              0
37                Seychelles            9.9            34.0           3.08
38           Solomon Islands            4.3            56.0           7.38
39                  Thailand            5.0            64.0           2.08
40                     Tonga            4.6            69.0            NaN
41          Turks and Caicos            0.0             0.0              0
42                    Uganda           12.6            74.0           2.13
43      United Arab Emirates            3.8            30.0           4.56
44            United Kingdom            1.3            20.0           2.03
45  United States of America            6.5            29.0           3.25
46                   Vanuatu            2.5            54.0           5.97

In [41]:
# Write that shit to a CSV
df_final.to_csv("../data/merged_countries.csv", index=False)